<div class='container mt-4'>
    <br>
    <h1><%= @event.titlte %></h1>
    <!-- INFORMATION SUR L'UTILISATEUR -->
    <br>
    <div class= 'border border-white mt-4 pt-4 pl-2' style="max-width: 50rem; font-size: 18px;">
      <p>
        <u>Date de début</u>: <%= @event.start_date.strftime('%d of %B, %Y - %HH%M') %><br>
        <u>Date de fin</u>: <%= @end_date %><br>
        <u>Lieu de l'Event</u>: <%= @event.location %><br>
        <u>Description</u>: <%= @event.description %><br>
        <u>Prix</u>: <%= @event.price%> €<br>
        <u>Nombre de participants a l'évènement : <%= @count %> </u>
      </p>
    </div>
    <div>
<% if user_signed_in? %> <!--Si l'utilisateur est connecté -->
       <a href="<%=new_event_attendance_path(params[:id])%>">Participer à l'évenement</a>
    <% if current_user.id != @event.createur_id %>
    <% elsif @attendances.include? current_user.id %> <!--Si l'utilisateur n'est pas créateur de l'évènement et Si l'utilisateur ne participe pas déjà a l'évènement -->
    <% else %>
    <a href="<%=new_event_attendance_path(params[:id])%>">Participer à l'évenement</a>
    <%end%>
  <%end%>

 
 
  